<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles/estilos.css">
</head>
<body>

    {%  load crispy_forms_tags  %}
    
    <header>
        {%  include 'shared/menu.html'  %}
    </header>

    <main>

        <section class="banner">

            <form method="POST" class="text-white">

                <div class="row">
                    <div class="col">
                        <h2>Registro de vehiculos:</h2>
                        <hr>
                    </div>
                </div>

                {{formulario | crispy  }}

                <button type="submit" class="btn btn-primary mt-3">Registrar</button>
                {% csrf_token %}


            </form>
            
        </section>

        <section class="my-5">
            <div class="container">
                <div class="row row-cols-1 row-cols-md-5 g-3">

                    {% for tiquete in tiquetes %}

                        <div class="col">
                            <div class="card p-3">
                                <img src="static/img/sports-car.png" alt="foto" class="card-img-top">
                                <div class="card-body">

                                    <h5>Placa: {{tiquete.placa}}</h5>
                                    <p>Entrada: {{tiquete.fecha_ingreso}}</p>
                                    <a href="{% url 'salida' id=tiquete.id_tiquete %}" class="btn btn-outline-danger d-block mx-auto">Salida</a>

                                </div>
                            </div>
                        </div>

                    {% endfor %}

                </div>
            </div>

        </section>

        

    </main>
   



    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>